<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titulo %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'img/cookie.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/estilo.css') }}">
       

        <script type="text/javascript" href="{{ url_for('static', filename= 'scripts.js') }}">
            {% block js %}
            function logout() {
                document.getElementById("form_logout").submit();
            }
            {% endblock %}
        </script>
    </head>
    <body>
        <header>
            <h3>Olá, {{logado['nome_usuario']}}!</h3>
        </header>
        <nav>
            <a href="/produtos">PRODUTOS</a>
            <a href="/vendas">VENDAS</a>
            {% if logado['tipo'] == 'Adm' %}
            <a href="/fabricacao">FABRICAÇÃO</a>
            <a href="/insumo">INSUMOS</a>
            <a href="/caixa">CAIXA</a>
            <a href="/usuarios">USUÁRIOS</a>
            {% endif %}
            

            <p><a href="#" onclick="javascript:logout()">SAIR</a></p>
            <form action="/logout" id="form_logout" method="POST" style="display: none"></form>
        </nav>
        <script type='text/javascript'>
            function logout() {
                document.getElementById("form_logout").submit();
            }
        </script>
 
        {% block conteudo %}           
        {% endblock %}
    </body>
</html>


