{% extends "basemaster.html" %}
{% block titulo %}Cadastrar Item{% endblock %}
{% block js %}
    function validar() {
        const nome = document.getElementById('nome');
        const login = document.getElementById('login');
        const senha = document.getElementById('senha');
        const tipo = document.getElementById('tipo');
        const telefone = document.getElementById('telefone');
        if (nome.value === '') {
            alert("Preencha o nome.");
            return false;
        }
        if (login.value === '') {
            alert("Preencha o login.");
            return false;
        }
        if (senha.value === '') {
            alert("Preencha a senha.");
            return false;
        }
        if (tipo.value === '') {
            alert("Preencha o tipo.");
            return false;
        }
        if (telefone.value === '') {
            alert("Preencha o telefone.");
            return false;
        }
        return true;
    }

    function salvar() {
        if (validar()) document.getElementById("form_principal").submit();
    }


{% endblock %}




{% block conteudo %}
    <form action="/insumo/compra/item<int:id_compra>/novo" method="POST" id="form_principal" enctype="multipart/form-data">
        {% if item['id_item'] != 'novo' %}
            <p>
                <label>Id:</label>
                {{item['id_item']}}
            </p>
        {% endif %}
        <p>
            <label for="data_vencimento">Data de Vencimento:</label>
            <input type="text" id="data_vencimento" name="data_vencimento" autocomplete="off" value="{{item['data_vencimento']}}" />
        </p>
        <p>
            <label for="insumo">Insumo:</label>
            <select name="id_insumo" id="insumo">
                <option value="escolha">Escolha...</option>
                {% for insumo in insumo %}
                    <option value="{{insumo['nome']}}">{{insumo['nome']}} </option>
                {% endfor %}
            </select>
        </p>






        <p>
            <button type="button" onclick="javascript:salvar();">Salvar</button>
            {% if item['id_item'] != 'novo' %}<button type="button" onclick="javascript:excluir();">Excluir</button>{% endif %}
        </p>
    </form>
    <p><a href="/insumo/compra/item<int:id_compra>">Voltar</a></p>
{% endblock %}
