{% block conteudo %}
    <form action="/insumo/compra/{{ compra['id_compra'] }}" method="POST" id="form_principal" enctype="multipart/form-data">
        {% if compra['id_compra'] != 'novo' %}
            <p>
                <label>Id:</label>
                {{compra['id_compra']}}
            </p>
        {% endif %}
        <p>
            <label for="data_compra">Data da compra:</label>
            <input type="date" id="data_compra" name="data_compra" autocomplete="off" value="{{compra['data_compra']}}" />
        </p>
        <p>
            <label for="valor_compra">Valor total da compra:</label>
            <input type="float" id="valor_compra" name="valor_compra" autocomplete="off" value="{{compra['valor_compra']}}" />
        </p>
        {% if compra['id_compra'] != 'novo' %}
            {% for itemcompra in itemcompra %}
                {% if itemcompra['id_compra'] == compra['id_compra'] %}
                    <div>
                        <p>
                            <label for="id_insumo">Item:</label>
                            <select name="id_insumo" id="insumo">
                            <option value="id">Escolha o item...</option>
                                {% for insumo in insumo %}
                                    <option value="{{insumo['id_insumo']}}">
                                    {{insumo['nome_insumo']}} </option>
                                {% endfor %}
                            </select>
                    </p>
                    
                    <p><label for="quantidade">Quantidade:</label>
                    <input type="float" id="quantidade" name="quantidade" value="{{itemcompra['quantidade']}}"></p>
                    <p>
                    <label for="data_vencimento">Data de vencimento:</label>
                    <input type="date" id="data_vencimento" name="data_vencimento"  autocomplete="off" value="{{itemcompra['data_vencimento']}}" ></p>
                    <p><label for="valor_unitario">Valor unitário:</label>
                    <input type="float" id="valor_unitario" name="valor_unitario" autocomplete="off" value="{{itemcompra['valor_unitario']}}" ></p>
                    </div>
                {% endif %}
            {% endfor %}     
        {% endif %}




        <div class="input_fields_wrap">
        <div>
            <button class="add_field_button">Adicionar Item</button>
        </div>
        <div>





    </form>
    <script type='text/javascript'>
            $(document).ready(function() {
                var max_fields      = 10; //maximum input boxes allowed
                var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
                var add_button      = $(".add_field_button"); //Add button ID
                
                var x = 1; //initlal text box count
                $(add_button).click(function(e){ //on add input button click
                    e.preventDefault();
                    if(x < max_fields){ //max input box allowed
                        x++; //text box increment
                        $(wrapper).append('<div><p><label for="id_insumo">Item:</label><select name="id_insumo" id="insumo"><option value="id">Escolha o item...</option>{% for insumo in insumo %}<option value="{{insumo['id_insumo']}}">{{insumo['nome_insumo']}} </option>{% endfor %}</select></p><p><label for="quantidade">Quantidade:</label><input type="float" id="quantidade" name="quantidade"></p><p><label for="data_vencimento">Data de vencimento:</label><input type="date" id="data_vencimento" name="data_vencimento"></p><p><label for="valor_unitario">Valor unitário:</label><input type="float" id="valor_unitario" name="valor_unitario"></p><a href="#" class="remove_field">Remove</a></div>'); //add input box
                    }
                });
                
                $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                    e.preventDefault(); $(this).parent('div').remove(); x--;
                })
            });
    </script>



{% endblock %}

