{% extends "basemaster.html" %}
{% block titulo %}Caixa{% endblock %}
{% block conteudo %}
    <h1>Caixa</h1>
    

    <h2>Saldo diário</h2>
    <div class="grid">
        <table>
            <tr>
            <td>Data</td>
            <td>Valor</td>
            </tr>
        {% for saldo in saldo %}
            <tr>
                <td>{{saldo['Data']}}</td>
                <td>{{saldo['ValorDia']}}</td>

            </tr>
        {% endfor %}
    </table>
    </div>
    


    <h2>Entradas</h2>
    <div class="grid">
        <table>
            <tr>
            <td>Data</td>
            <td>Valor</td>
            </tr>
        {% for entradas in entradas %}
            <tr>
                <td>{{entradas['Data']}}</td>
                <td>{{entradas['Valor']}}</td>

            </tr>
        {% endfor %}
    </table>
    </div>
    
        <h2>Saidas</h2>
    <div class="grid">
        <table>
            <tr>
            <td>Data</td>
            <td>Valor</td>
            </tr>
        {% for saidas in saidas %}
            <tr>
                <td>{{saidas['Data']}}</td>
                <td>{{saidas['Valor']}}</td>

            </tr>
        {% endfor %}
    </table>
    </div>





{% endblock %}