{% block conteudo %}

    <script type='text/javascript'>

    </script>

    <form class="form-horizontal" action="/usuarios/{{ usuario['id_usuario'] }}" method="POST" id="form_principal" enctype="multipart/form-data">
        {% if usuario['id_usuario'] != 'novo' %}
            <p>
                <label>Id:</label>
                {{usuario['id_usuario']}}
            </p>
            
        {% endif %}
        <div class="form-group"> 
            <label for="nome_usuario">Nome:*</label>
            <input type="text" class="form-control" id="nome_usuario" name="nome_usuario" autocomplete="off" value="{{usuario['nome_usuario']}}" />
        </div>
        <div class="form-group"> 
            <label for="login">Login:*</label>
            <input type="text" class="form-control" id="login" name="login" autocomplete="off" value="{{usuario['login']}}" />
        </div>
        <div class="form-group"> 
            <label for="senha">Senha:*</label>
            <input type="password" class="form-control" id="senha" name="senha" autocomplete="off" value="{{usuario['senha']}}" />
        </div>
        <div class="form-group"> 
            <label for="cpf">CPF:*</label>
            <input type="text" class="form-control" id="cpf" name="cpf" autocomplete="off" pattern="[0-9]{11}" value="{{usuario['cpf']}}" placeholder="Digite apenas os números"/>
        </div>
        <div class="form-group"> 
            <label for="email">E-mail:*</label>
            <input type="email" class="form-control" id="email" name="email" autocomplete="off" value="{{usuario['email']}}" />
        </div>

        <div class="form-group"> 
        <label for="tipo">Tipo:*</label>
            <input type="radio" id="tipo" name="tipo" value="Adm" {% if usuario['tipo'] == 'Adm' %} checked="checked"{% endif %}>Administrador</input>
            <input type="radio" id="tipo" name="tipo" value="Ven" {% if usuario['tipo'] == 'Ven' %} checked="checked"{% endif %}>Vendedor</input>
        </div>
        <div class="form-group"> 
            <label for="telefone">Telefone:*</label>
            <input type="tel" class="form-control" id="telefone" name="telefone" autocomplete="off" value="{{usuario['telefone']}}" placeholder="Ex.: (00) 00000-0000"/>
        </div>
        <div class="form-group"> 
            <label for="pix">PIX:</label>
            <input type="text" class="form-control" id="pix" name="pix" autocomplete="off" value="{{usuario['pix']}}" />
        </div>
        <div class="form-group"> 
            <label for="banco">Banco:*</label>
            <input type="text" class="form-control" id="banco" name="banco" autocomplete="off" value="{{usuario['banco']}}" />
        </div>

        <div class="form-group"> 
        <label>Tipo de Conta:*</label>
            <input type="radio" id="tipo_conta" name="tipo_conta" value="C" {% if usuario['tipo_conta'] == 'C' %} checked="checked"{% endif %}>Corrente</input>
            <input type="radio" id="tipo_conta" name="tipo_conta" value="P" {% if usuario['tipo_conta'] == 'P' %} checked="checked"{% endif %}>Poupança</input>
        </div>
        <div class="form-group"> 
            <label for="agencia">Agência:*</label>
            <input type="text" class="form-control" id="agencia" name="agencia" autocomplete="off" value="{{usuario['agencia']}}" />
        </div>
        <div class="form-group"> 
            <label for="conta">Conta:*</label>
            <input type="text" class="form-control" id="conta" name="conta" autocomplete="off" value="{{usuario['conta']}}" />
        </div>
        <div class="form-group"> 
            <label for="cep">CEP:*</label>
            <input type="text" class="form-control" id="cep" name="cep" autocomplete="off" value="{{usuario['cep']}}" />
        </div>
        <div class="form-group"> 
            <label for="logradouro">Logradouro:*</label>
            <input type="text" class="form-control" id="logradouro" name="logradouro" autocomplete="off" value="{{usuario['logradouro']}}" />
        </div>
        <div class="form-group"> 
            <label for="numero">Número:*</label>
            <input type="text" class="form-control" id="numero" name="numero" autocomplete="off" value="{{usuario['numero']}}" />
        </div>
        <div class="form-group"> 
            <label for="complemento">Complemento:</label>
            <input type="text" class="form-control" id="complemento" name="complemento" autocomplete="off" value="{{usuario['complemento']}}" />
        </div>
        <div class="form-group"> 
            <label for="uf">UF:*</label>
            <input type="text" class="form-control" id="uf" name="uf" autocomplete="off" value="{{usuario['uf']}}" />
        </div>
        
       <div class="form-group"> 
            <label for="cidade">Cidade:*</label>
            <input class="form-control" type="text" id="cidade" name="cidade" autocomplete="off" value="{{usuario['cidade']}}" />
        </div>








<p></p>
        <p>
            
            {% if usuario['id_usuario'] != 'novo' %}<button type="button" onclick="javascript:excluir();">Excluir</button>{% endif %}
        </p>
    </form>



{% endblock %}