{% extends "base.html" %}
{% block titulo %}Cadastro{% endblock %}
{% block js %}
    function logout() {
        document.getElementById("form_logout").submit();
    }
{% endblock %}
{% block conteudo %}
    {% if mensagem != '' %}
        <h2>{{mensagem}}</h2>
    {% endif %}
            <nav>
            <a href="">DASHBOARD</a>
            <a href="">ESTOQUE</a>
            <a href="">CAIXA</a>
            <a href="#" onclick="javascript:logout()">SAIR</a>
            <form action="/logout" id="form_logout" method="POST" style="display: none"></form>
            </nav>
{% endblock %}