{% extends "basemaster.html" %}
{% block titulo %}Produtos{% endblock %}
        {% block js %}
            function validar() {
                const nome_produto = document.getElementById('nome_produto');
                const preco_atual = document.getElementById('preco_atual');
                const prazo_validade = document.getElementById('prazo_validade');
                const descricao = document.getElementById('descricao');
                if (nome_produto.value === '') {
                    alert("Preencha o nome.");
                    return false;
                }
                if (preco_atual.value === '') {
                    alert("Preencha o preço atual.");
                    return false;
                }
                if (prazo_validade.value === '') {
                    alert("Preencha o prazo de validade.");
                    return false;
                }
                if (descricao.value === '') {
                    alert("Preencha a descricao.");
                    return false;
                }
                return true;
            }

            function salvar() {
                if (validar()) document.getElementById("form_principal").submit();
            }


        {% endblock %}


{% block conteudo %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>




    {% if mensagem != '' %}
        <div padding-bottom: 75% class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{mensagem}}
        </div>
    {% endif %}


    
    <div class="container"> 
       <h1>Produtos</h1>
       <p><button data-id="novoproduto" class="userinfo btn btn-lg btn-default">Adicionar Produto</button>
       <a href="/produtos/inativos"><button class=" btn btn-lg btn-default">Produto Inativos</button></a>
    </div>
    <div class="grid">
       <table cellspacing="100" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</td>
                    <th>Preço Atual</th>
                    <th>Prazo Validade</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for row in produto %}
                <tr>
                    <td>{{row.id_produto}}</td>
                    <td>{{row.nome_produto}}</td>
                    <td>{{row.preco_atual}}</td>
                    <td>{{row.prazo_validade}}</td>
                    <td>{{row.descricao}}</td>
                    <td>{{row.quantidade}}</td>
                    <!--<td><a href="produtos/{{produto['id_produto']}}">Editar</a></td>-->
                    <td><button data-id='{{row.id_produto}}' class="userinfo btn btn-sm btn-default">Editar</button></td>
                </tr>
            {% endfor %}
    </table>
    </div>

<script type='text/javascript'>
            $(document).ready(function(){
                $('.userinfo').click(function(){
                    var userid = $(this).data('id');
                    $.ajax({
                        url: '/editarproduto',
                        type: 'post',
                        data: {userid: userid},
                        success: function(data){ 
                            $('.modal-body').html(data); 
                            $('.modal-body').append(data.htmlresponse);
                            $('#empModal').modal('show'); 
                        }
                    });
                });
            });
            $(document).ready(function(){
                $('.userinfo').click(function(){
                    var userid = $(this).data('novoproduto');
                    $.ajax({
                        url: '/editarproduto',
                        type: 'get',
                        data: {userid: userid},
                        success: function(data){ 
                            $('.modal-body').html(data); 
                            $('.modal-body').append(data.htmlresponse);
                            $('#empModal').modal('show'); 
                        }
                    });
                });
            });

            $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
            });


</script>


        <div class="modal fade" id="empModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title">Produto</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="javascript:salvar();">Salvar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
        </div>



<!-- Modal 
    <div class="modal fade" id="addproduto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Adicionar Produto</h4>

        
        
        </div>
        <div class="modal-body">
        
        
            <form action="/produtos/{{ produto['id_produto'] }}" method="POST" id="form_principal" enctype="multipart/form-data">
                {% if produto['id_produto'] != 'novo' %}
                    <p>
                        <label>Id:</label>
                        {{produto['id_produto']}}
                    </p>
                {% endif %}
                <p>
                    <label for="nome">Nome do produto:</label>
                    <input type="text" id="nome" name="nome" autocomplete="off" value="{{produto['nome']}}" />
                </p>
                <p>
                    
                <label>Status:</label>
                    <input type="radio" id="ativo" name="status" value="ativo" {% if produto['status'] == 'ativo' %} checked="checked"{% endif %}>Ativo</input>
                    <input type="radio" id="inativo" name="status" value="inativo" {% if produto['status'] == 'inativo' %} checked="checked"{% endif %}>Inativo</input>
                    
                
                </p>
                
                <p>
                    <label for="preco_atual">Preço atual:</label>
                    <input type="text" id="preco_atual" name="preco_atual" autocomplete="off" value="{{produto['preco_atual']}}" />
                </p>
                <p>
                    <label for="ingredientes">Ingredientes:</label>
                    <input type="text" id="ingredientes" name="ingredientes" autocomplete="off" value="{{produto['ingredientes']}}" />
                </p>
                <p>
                    <label for="prazo_validade">Prazo de validade:</label>
                    <input type="text" id="prazo_validade" name="prazo_validade" autocomplete="off" value="{{produto['prazo_validade']}}" />
                </p>
                <p>
                    <label for="descricao">Descrição:</label>
                    <input type="text" id="descricao" name="descricao" autocomplete="off" value="{{produto['descricao']}}" />
                </p>
                <p>
                    <button type="button" onclick="javascript:salvar();">Salvar</button>
                    
                </p>
            </form>
            <p><a href="/produtos">Voltar</a></p>
        

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary" onclick="javascript:salvar();">Save changes</button>
        </div>
        </div>
    </div>
    </div>
-->


{% endblock %}


    



