<form class="formulario" action="/aluno/{{ aluno['id_aluno'] }}" method="POST" id="form_principal" enctype="multipart/form-data">
        <h1> Cadastro de Usuários</h1>
       
         <div class="field">
            <label for="Item">Item:*</label>
            <input type="text" id="item" name="Item" placeholder="Digite o nome do item" required>
        </div>     


        <div class="field">
            <label for="Quantidade">Quantidade*</label>
            <input type="int" id="Quantidade" name="Quantidade" placeholder="Digite a Quantidade do Item" required>
        </div>
        
        <div class="field">
            <label for="Unidade de Medida">Unidade de Medida:*</label>
            <input type="text" id="Unidade de Medida" name="login" placeholder="Digite a Unidade de Medida">
        </div>
        
   
        <div class="field">
            <label for="Data de Entrada">Data de Entrada</label>
            <input type="text" id="Data de Entrada" name="Data de Entrada" placeholder="Digite a data de Compra" required>
        </div>

        <div class="field">
            <label for="Vencimento">Vencimento:</label>
            <input type="text" id="Vencimento" name="Vencimento" placeholder="Digite o Vencimento do Item">
        </div>





----------------------------------------------------------------------------------------------------------------

	  <div class="field">
            <label for="">Item*</label>
            <input type="text" id="Item" name="Item" placeholder="Digite o Item">
        </div>
        

         <div class="field">
            <label for="Entrada Estoque">Entrada Estoque:*</label>
            <input type="int" id="Entrada Estoque" name="Entrada Estoque" placeholder="Digite a Quantidade do Estoque" required>
        </div>     


        <div class="field">
            <label for="Local">Local*</label>
            <input type="text" id="Local" name="Local" placeholder="Digite o Local do Estoque" required>
        </div>
       
       
        <div class="field">
            <label for="Data de Entrada">Data de Entrada</label>
            <input type="text" id="Data de Entrada" name="Data de Entrada" placeholder="Digite a data de Envio" required>
        </div>

        <div class="field">
            <label for="Vencimento">Vencimento:</label>
            <input type="text" id="Vencimento" name="Vencimento" placeholder="Digite o Vencimento do Item">
        </div>

	<div class="field">
            <label for="Saída">Saída:</label>
            <input type="text" id="Saída" name="Saída" placeholder="Digite a Data de Saída">
        </div>