{% extends "basemaster.html" %}
{% block titulo %}Vendas{% endblock %}

{% block conteudo %}
    <h1>Compras</h1>
    
    
    
    <div class="grid">
       <p><a href="/insumo/compra/novo"><button>Adicionar Compra</button>
          <table>
            <tr>
            <td>ID</td>
            <td>Data</td>
            <td>Preço total</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
        {% for compra in compra %}
            <tr>
                <td>{{compra['id_compra']}}</td>
                <td>{{compra['datacompra']}}</td>
                <td>{{compra['soma']}}</td>
                <td><a href="compra/{{compra['id_compra']}}">Editar</a></td>
                <td><a href="/insumo/compra/item{{compra['id_compra']}}">Itens</a></td>

            </tr>
        {% endfor %}
    </table>
    </div>
    
{% endblock %}