{% extends "basemaster.html" %}
{% block titulo %}Vendas{% endblock %}
        {% block js %}






            function validar() {
                const nome = document.getElementById('nome');
                const preco_atual = document.getElementById('preco_atual');
                const ingredientes = document.getElementById('ingredientes');
                const prazo_validade = document.getElementById('prazo_validade');
                const descricao = document.getElementById('descricao');
                if (nome.value === '') {
                    alert("Preencha o nome.");
                    return false;
                }
                if (preco_atual.value === '') {
                    alert("Preencha o preço atual.");
                    return false;
                }
                if (ingredientes.value === '') {
                    alert("Preencha os ingredientes.");
                    return false;
                }
                if (prazo_validade.value === '') {
                    alert("Preencha o prazo de validade.");
                    return false;
                }
                if (descricao.value === '') {
                    alert("Preencha a descricao.");
                    return false;
                }
                return true;
            }

            function salvar() {
                if (validar()) document.getElementById("form_principal").submit();
            }


        {% endblock %}
{% block conteudo %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
 -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    
    
    
    <h1>Vendas</h1>
    


    
    
    <div class="grid">
       <p><button data-id="venda" class="userinfo btn btn-success">Adicionar Vendas</button>
       

       </p>
          <table>
            <tr>
            <th>Id</th>
            <th>Data</td>
            <th>Canal da venda</th>
            <th>Quantidade de itens</th>
            <th>Valor Total</th>
            <th>Desconto</th>
            <th>Valor Final</th>
            <th>&nbsp;</th>

            </tr>
        {% for row in vendas %}
            <tr>
                <td>{{row.id_venda}}</td>
                <td>{{row.data_venda}}</td>
                <td>{{row.canal_venda}}</td>
                <td>&nbsp;</td>
                <td>{{row.valor_total}}</td>
                <td>{{row.desconto_venda}}</td>
                <td>{{row.preco_venda}}</td>
                <td><button data-id='{{row.id_venda}}' class="userinfo btn btn-success">Editar</button></td>
            </tr>
        {% endfor %}
    </table>
    </div>

<script type='text/javascript'>
               



            $(document).ready(function(){
                $('.userinfo').click(function(){
                    var userid = $(this).data('id');
                    $.ajax({
                        url: '/editarvendas',
                        type: 'post',
                        data: {userid: userid},
                        success: function(data){ 
                            $('.modal-body').html(data); 
                            $('.modal-body').append(data.htmlresponse);
                            $('#empModal').modal('show'); 
                        }
                    });
                });
            });

            $(document).ready(function(){
                $('.userinfo').click(function(){
                    var userid = $(this).data('novo');
                    $.ajax({
                        url: '/editarvendas',
                        type: 'get',
                        data: {userid: userid},
                        success: function(data){ 
                            $('.modal-body').html(data); 
                            $('.modal-body').append(data.htmlresponse);
                            $('#empModal').modal('show'); 
                        }
                    });
                });
            });
</script>


        <div class="modal fade" id="empModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        {% if vendas['id_venda'] != 'novo' %}
                            <h4 class="modal-title">Editar Venda</h4>
                        {% endif %}
                        {% if vendas['id_venda'] == 'novo' %}
                            <h4 class="modal-title">Cadastrar Venda</h4>
                        {% endif %}
 
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="javascript:salvar();">Salvar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
        </div>

{% endblock %}


    



